.bloc {
  height: 400px;
  margin-bottom: 15px;
  border: 3px solid #00000014;
  box-shadow: 2px 2px 2px #00000005 !important;
  border-radius: 5px;
  padding: 20px;
  overflow: auto;
  position: relative;
  text-align: center;
}

.title {
  background-color: #3B64B1;
  color: white;
  min-height : 100px;
  margin-bottom: 15px;
  border: 1px solid #00000014 !important;
  box-shadow: 2px 2px 2px #00000005;
  border-radius: 5px;
  padding: 20px ;
  text-align: center;
}

.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.footer {
  background-color: #3B64B1;
  color: white;
  min-height : 70px;
  margin-bottom: 15px;
  border: 1px solid #00000014 !important;
  box-shadow: 2px 2px 2px #00000005;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 22px;
}

p {
  font-size: 13px;
}

h1 {
 font-size: 25px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f1f5f9;
}

.table {
  border-left: 1px solid #00000014;
  border-right: 1px solid #00000014;
  border-bottom: 1px solid #00000014;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  th {
    border-bottom: 1px solid #00000014;
    text-align: center;
    color: #333;
  }

  td {
    padding: 11px 2px;
    border: 1px dashed #00000014;
    padding-left: 5px;
    text-align: center;
  }
}
